<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
      First Name
      <br/>
      <%= f.text_field :first_name, autofocus: true, class: 'form-control'%>
    </div>
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
      Last Name
      <br/>
      <%= f.text_field :last_name, autofocus: true, class: 'form-control'%>
    </div>
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
      Email
      <br/>
      <%= f.email_field :email, autofocus: true, class: 'form-control'%>
    </div>
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
      Password
      <br/>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
      Password Confirmation
      <br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, :class => "pull-left", :style => "width:3% !important;" %> <%= f.label :remember_me %>
      <% end -%>
    </div>
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
      <div><%= f.submit "Sign up", class: "btn btn-primary signin-btn" %></div>
    </div>
    <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
<% end %>
